body {
  margin: 0;
  padding: 0;

  /** background image */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://i.imgur.com/p1w7NqI.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

